In [8]:
import pandas as pd
import os
import duckdb

In [ ]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing1.db") as con:
    tables = con.execute("SHOW TABLES").fetchall()

[('bike_stations',), ('bike_trips',)]

In [12]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing1.db") as con:
    bike_trips = con.execute("SELECT * FROM bike_trips limit 4").df()

bike_trips

,genero_usuario,edad_usuario,bici,ciclo_estacion_retiro,fecha_retiro,ciclo_estacionarribo,fecha_arribo,fecha_retiro_completa,fecha_arribo_completa,time_between_trips,day_of_the_week,is_weekend,lat_start,lon_start,lat_end,lon_end,distance_meters,hora_retiro,hora_arribo
0,M,26,5180930,568,2024-12-31,572,2025-01-01,2024-12-31 23:57:02,2025-01-01 00:00:03,3.016667,Wednesday,0,19.418013,-99.144598,19.414677,-99.136894,889.014215,23:57:02,00:00:03
1,F,54,3653953,283,2024-12-31,596,2025-01-01,2024-12-31 23:51:40,2025-01-01 00:00:41,9.016667,Wednesday,0,19.397923,-99.167248,19.395205,-99.155049,1314.687764,23:51:40,00:00:41
2,M,38,7511322,034,2024-12-31,064,2025-01-01,2024-12-31 23:48:36,2025-01-01 00:00:59,12.383333,Wednesday,0,19.424728,-99.163348,19.412967,-99.166925,1360.437222,23:48:36,00:00:59
3,M,41,3804572,258,2024-12-31,023,2025-01-01,2024-12-31 23:54:11,2025-01-01 00:01:08,6.950000,Wednesday,0,19.416530,-99.179044,19.425280,-99.171099,1280.930290,23:54:11,00:01:08

In [15]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing1.db") as con:
    bike_stations = con.execute("SELECT * EXCLUDE(index), ciclo_estacionarribo as ciclo_estacion_retiro FROM bike_stations").df()

bike_stations.dtypes

ciclo_estacionarribo     object
alcaldia                 object
colonia                  object
zip_code                  int64
ciclo_estacion_retiro    object
dtype: object