In [1]:
import pandas as pd
import os
import duckdb

In [ ]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    tables = con.execute("SHOW TABLES").fetchall()
tables

[('bike_trip',), ('bikestation',), ('biketrip',)]

In [18]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    d = con.execute("SELECT * EXCLUDE(hora_retiro,hora_arribo) FROM bike_trip").df()
    
    d['fecha_arribo'] = d['fecha_arribo_completa'].dt.strftime('%Y-%m-%d')
    
    a = con.execute("SELECT fecha_arribo, SUM(distance_meters)::INTEGER distance_meters FROM d GROUP BY fecha_arribo ORDER BY fecha_arribo DESC").df()

a

   fecha_arribo  distance_meters
0    2025-01-31        129364279
1    2025-01-30        139670590
2    2025-01-29        143040673
3    2025-01-28        143386834
4    2025-01-27        129603313
5    2025-01-26         78277934
6    2025-01-25         78735511
7    2025-01-24        130988321
8    2025-01-23        138316492
9    2025-01-22        139257516
10   2025-01-21        138010160
11   2025-01-20        132473193
12   2025-01-19         84315928
13   2025-01-18         78290435
14   2025-01-17        128986758
15   2025-01-16        138456351
16   2025-01-15        136467123
17   2025-01-14        131853119
18   2025-01-13        128236488
19   2025-01-12         69895591
20   2025-01-11         70126974
21   2025-01-10        115831987
22   2025-01-09        131669987
23   2025-01-08        128847496
24   2025-01-07        124814948
25   2025-01-06        107805692
26   2025-01-05         66522601
27   2025-01-04         61928147
28   2025-01-03         87179870
29   2025-01-02         83371937
30   2025-01-01         28819155

In [ ]:
# In your context, if you want to update the DataFrame 'one_bike' with a new 'fecha_arribo' column from 'fecha_arribo_completa':
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    one_bike = duckdb.sql(""" 
    SELECT * EXCLUDE(hora_retiro,hora_arribo) FROM bike_trip
    """).df()

    one_bike['fecha_arribo'] = one_bike['fecha_arribo_completa'].dt.strftime('%Y-%m-%d')

    one_bike2 = con.execute("""
        SELECT fecha_arribo, SUM(distance_meters) distance_meters
        FROM one_bike
        GROUP BY fecha_arribo
        ORDER BY fecha_arribo ASC
    """).df()

one_bike2

CatalogException: Catalog Error: Table with name bike_trip does not exist!
Did you mean "duckdb_constraints"?

In [22]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    bike_trips = con.execute("SELECT * FROM bike_trips").df()

bike_trips

,genero_usuario,edad_usuario,bici,ciclo_estacion_retiro,fecha_retiro,ciclo_estacionarribo,fecha_arribo,fecha_retiro_completa,fecha_arribo_completa,time_between_trips,day_of_the_week,is_weekend,lat_start,lon_start,lat_end,lon_end,distance_meters,hora_retiro,hora_arribo
0,M,26,5180930,568,2024-12-31,572,2025-01-01,2024-12-31 23:57:02,2025-01-01 00:00:03,3.016667,Wednesday,0,19.418013,-99.144598,19.414677,-99.136894,889.014215,23:57:02,00:00:03
1,F,54,3653953,283,2024-12-31,596,2025-01-01,2024-12-31 23:51:40,2025-01-01 00:00:41,9.016667,Wednesday,0,19.397923,-99.167248,19.395205,-99.155049,1314.687764,23:51:40,00:00:41
2,M,38,7511322,034,2024-12-31,064,2025-01-01,2024-12-31 23:48:36,2025-01-01 00:00:59,12.383333,Wednesday,0,19.424728,-99.163348,19.412967,-99.166925,1360.437222,23:48:36,00:00:59
3,M,41,3804572,258,2024-12-31,023,2025-01-01,2024-12-31 23:54:11,2025-01-01 00:01:08,6.950000,Wednesday,0,19.416530,-99.179044,19.425280,-99.171099,1280.930290,23:54:11,00:01:08

In [15]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing1.db") as con:
    bike_stations = con.execute("SELECT * EXCLUDE(index), ciclo_estacionarribo as ciclo_estacion_retiro FROM bike_stations").df()

bike_stations.dtypes

ciclo_estacionarribo     object
alcaldia                 object
colonia                  object
zip_code                  int64
ciclo_estacion_retiro    object
dtype: object