In [80]:
import pandas as pd
import os
import duckdb

In [ ]:
# fileOpen = pd.read_parquet('./data/2025_01.parquet')

# fileOpen['hora_arribo'] = fileOpen['hora_arribo'].astype(str).str.slice(0, 8)
# fileOpen['hora_retiro'] = fileOpen['hora_retiro'].astype(str).str.slice(0, 8)

# fileOpen.to_parquet('./data/2025_01.parquet')

In [68]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    d = con.execute("""
    SELECT * 
    EXCLUDE(hora_retiro,hora_arribo), 
    fecha_retiro_completa::TIME as hora_retiro,
    fecha_arribo_completa::TIME as hora_arribo
    FROM bike_trip
    """).df()

    a = con.execute("""
        SELECT 
            fecha_arribo,
            DATE_TRUNC('month', fecha_arribo::DATE) AS first_day_of_month,
            day_of_the_week, 
            SUM(distance_meters)::INTEGER AS distance_meters,
            ROUND(SUM(time_between_trips), 2) AS time_between_trips,
            COUNT(*) AS total_trips 
        FROM d 
        GROUP BY 1, 2, 3 
        ORDER BY fecha_arribo ASC
    """).df()

    # d['fecha_arribo'] = d['fecha_arribo_completa'].dt.strftime('%Y-%m-%d')

In [79]:
a.to_dict('records')[0]

{'fecha_arribo': Timestamp('2025-01-01 00:00:00'),
 'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
 'day_of_the_week': 'Wednesday',
 'distance_meters': 28819155,
 'time_between_trips': 298364.08,
 'total_trips': 16677}

In [75]:
from typing import List
from sqlmodel import Field, SQLModel
from typing import Optional
import datetime

class TripSummary(SQLModel, table=False):
    """
    Represents a summary of bike trips for reporting or analytics.
    Not a database table.
    """
    fecha_arribo: Optional[datetime.datetime] = None
    first_day_of_month: Optional[datetime.datetime] = None
    day_of_the_week: Optional[str] = None
    distance_meters: Optional[int] = None
    time_between_trips: Optional[float] = None
    total_trips: Optional[int] = None

def to_trip_summary_dicts(df) -> List[dict]:
    # Ensure correct types for each column
    df = df.copy()
    df['fecha_arribo'] = pd.to_datetime(df['fecha_arribo'])
    df['first_day_of_month'] = pd.to_datetime(df['first_day_of_month'])
    df['day_of_the_week'] = df['day_of_the_week'].astype(str)
    df['distance_meters'] = df['distance_meters'].astype(int)
    df['time_between_trips'] = df['time_between_trips'].astype(float)
    df['total_trips'] = df['total_trips'].astype(int)

    # Convert each row to TripSummary and then to dict
    return [
        TripSummary(
            fecha_arribo=row['fecha_arribo'],
            first_day_of_month=row['first_day_of_month'],
            day_of_the_week=row['day_of_the_week'],
            distance_meters=row['distance_meters'],
            time_between_trips=row['time_between_trips'],
            total_trips=row['total_trips']
        ).dict()
        for _, row in df.iterrows()
    ]

trip_summaries = to_trip_summary_dicts(a)
trip_summaries

C:\Users\gerym\AppData\Local\Temp\ipykernel_26916\157117113.py:37: DeprecationWarning:
        ðŸš¨ `obj.dict()` was deprecated in SQLModel 0.0.14, you should
        instead use `obj.model_dump()`.

  ).dict()

[{'fecha_arribo': Timestamp('2025-01-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Wednesday',
  'distance_meters': 28819155,
  'time_between_trips': 298364.08,
  'total_trips': 16677},
 {'fecha_arribo': Timestamp('2025-01-13 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Monday',
  'distance_meters': 128236488,
  'time_between_trips': 968436.73,
  'total_trips': 67203},
 {'fecha_arribo': Timestamp('2025-01-14 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Tuesday',
  'distance_meters': 131853119,
  'time_between_trips': 983355.12,
  'total_trips': 67928},
 {'fecha_arribo': Timestamp('2025-01-15 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Wednesday',
  'distance_meters': 136467123,
  'time_between_trips': 1029273.13,
  'total_trips': 71048},
 {'fecha_arribo': Timestamp('2025-01-16 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Thursday',
  'distance_meters': 138456351,
  'time_between_trips': 1054724.05,
  'total_trips': 71644},
 {'fecha_arribo': Timestamp('2025-01-17 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Friday',
  'distance_meters': 128986758,
  'time_between_trips': 998327.55,
  'total_trips': 67232},
 {'fecha_arribo': Timestamp('2025-01-18 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Saturday',
  'distance_meters': 78290435,
  'time_between_trips': 669552.4,
  'total_trips': 43549},
 {'fecha_arribo': Timestamp('2025-01-19 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Sunday',
  'distance_meters': 84315928,
  'time_between_trips': 865472.22,
  'total_trips': 44524},
 {'fecha_arribo': Timestamp('2025-01-20 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Monday',
  'distance_meters': 132473193,
  'time_between_trips': 1003072.65,
  'total_trips': 68623},
 {'fecha_arribo': Timestamp('2025-01-21 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Tuesday',
  'distance_meters': 138010160,
  'time_between_trips': 1039047.43,
  'total_trips': 71045},
 {'fecha_arribo': Timestamp('2025-01-22 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Wednesday',
  'distance_meters': 139257516,
  'time_between_trips': 1058273.63,
  'total_trips': 72135},
 {'fecha_arribo': Timestamp('2025-01-23 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Thursday',
  'distance_meters': 138316492,
  'time_between_trips': 1053125.17,
  'total_trips': 71400},
 {'fecha_arribo': Timestamp('2025-01-24 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Friday',
  'distance_meters': 130988321,
  'time_between_trips': 1018458.35,
  'total_trips': 69456},
 {'fecha_arribo': Timestamp('2025-01-25 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Saturday',
  'distance_meters': 78735511,
  'time_between_trips': 676685.15,
  'total_trips': 44619},
 {'fecha_arribo': Timestamp('2025-01-26 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Sunday',
  'distance_meters': 78277934,
  'time_between_trips': 778965.63,
  'total_trips': 41998},
 {'fecha_arribo': Timestamp('2025-01-27 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Monday',
  'distance_meters': 129603313,
  'time_between_trips': 985298.23,
  'total_trips': 68161},
 {'fecha_arribo': Timestamp('2025-01-28 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Tuesday',
  'distance_meters': 143386834,
  'time_between_trips': 1085287.87,
  'total_trips': 74752},
 {'fecha_arribo': Timestamp('2025-01-29 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Wednesday',
  'distance_meters': 143040673,
  'time_between_trips': 1094358.35,
  'total_trips': 75076},
 {'fecha_arribo': Timestamp('2025-01-30 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Thursday',
  'distance_meters': 139670590,
  'time_between_trips': 1058106.35,
  'total_trips': 72863},
 {'fecha_arribo': Timestamp('2025-01-31 00:00:00'),
  'first_day_of_month': Timestamp('2025-01-01 00:00:00'),
  'day_of_the_week': 'Friday',
  'distance_meters': 129364279,
  'time_between_trips': 1027262.68,
  'total_trips': 68216},
 {'fecha_arribo': Timestamp('2025-02-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-02-01 00:00:00'),
  'day_of_the_week': 'Thursday',
  'distance_meters': 83371937,
  'time_between_trips': 647952.35,
  'total_trips': 45134},
 {'fecha_arribo': Timestamp('2025-03-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-03-01 00:00:00'),
  'day_of_the_week': 'Friday',
  'distance_meters': 87179870,
  'time_between_trips': 689228.9,
  'total_trips': 47684},
 {'fecha_arribo': Timestamp('2025-04-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-04-01 00:00:00'),
  'day_of_the_week': 'Saturday',
  'distance_meters': 61928147,
  'time_between_trips': 537780.42,
  'total_trips': 35965},
 {'fecha_arribo': Timestamp('2025-05-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-05-01 00:00:00'),
  'day_of_the_week': 'Sunday',
  'distance_meters': 66522601,
  'time_between_trips': 671915.47,
  'total_trips': 35217},
 {'fecha_arribo': Timestamp('2025-06-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-06-01 00:00:00'),
  'day_of_the_week': 'Monday',
  'distance_meters': 107805692,
  'time_between_trips': 808372.28,
  'total_trips': 57298},
 {'fecha_arribo': Timestamp('2025-07-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-07-01 00:00:00'),
  'day_of_the_week': 'Tuesday',
  'distance_meters': 124814948,
  'time_between_trips': 931112.82,
  'total_trips': 65148},
 {'fecha_arribo': Timestamp('2025-08-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-08-01 00:00:00'),
  'day_of_the_week': 'Wednesday',
  'distance_meters': 128847496,
  'time_between_trips': 958530.72,
  'total_trips': 67031},
 {'fecha_arribo': Timestamp('2025-09-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-09-01 00:00:00'),
  'day_of_the_week': 'Thursday',
  'distance_meters': 131669987,
  'time_between_trips': 983955.75,
  'total_trips': 68315},
 {'fecha_arribo': Timestamp('2025-10-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-10-01 00:00:00'),
  'day_of_the_week': 'Friday',
  'distance_meters': 115831987,
  'time_between_trips': 884004.25,
  'total_trips': 61924},
 {'fecha_arribo': Timestamp('2025-11-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-11-01 00:00:00'),
  'day_of_the_week': 'Saturday',
  'distance_meters': 70126974,
  'time_between_trips': 595281.03,
  'total_trips': 40158},
 {'fecha_arribo': Timestamp('2025-12-01 00:00:00'),
  'first_day_of_month': Timestamp('2025-12-01 00:00:00'),
  'day_of_the_week': 'Sunday',
  'distance_meters': 69895591,
  'time_between_trips': 678496.98,
  'total_trips': 37686}]

In [12]:
# In your context, if you want to update the DataFrame 'one_bike' with a new 'fecha_arribo' column from 'fecha_arribo_completa':
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    one_bike = duckdb.sql(""" 
    SELECT * EXCLUDE(hora_retiro,hora_arribo) FROM bike_trip
    """).df()

    one_bike['fecha_arribo'] = one_bike['fecha_arribo_completa'].dt.strftime('%Y-%m-%d')

    one_bike2 = con.execute("""
        SELECT fecha_arribo, SUM(distance_meters) distance_meters
        FROM one_bike
        GROUP BY fecha_arribo
        ORDER BY fecha_arribo ASC
    """).df()

one_bike2

CatalogException: Catalog Error: Table with name bike_trip does not exist!
Did you mean "duckdb_constraints"?

In [22]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing2.db") as con:
    bike_trips = con.execute("SELECT * FROM bike_trips").df()

bike_trips time_between_trips,day_of_the_week,distance_meters

,genero_usuario,edad_usuario,bici,ciclo_estacion_retiro,fecha_retiro,ciclo_estacionarribo,fecha_arribo,fecha_retiro_completa,fecha_arribo_completa,time_between_trips,day_of_the_week,is_weekend,lat_start,lon_start,lat_end,lon_end,distance_meters,hora_retiro,hora_arribo
0,M,26,5180930,568,2024-12-31,572,2025-01-01,2024-12-31 23:57:02,2025-01-01 00:00:03,3.016667,Wednesday,0,19.418013,-99.144598,19.414677,-99.136894,889.014215,23:57:02,00:00:03
1,F,54,3653953,283,2024-12-31,596,2025-01-01,2024-12-31 23:51:40,2025-01-01 00:00:41,9.016667,Wednesday,0,19.397923,-99.167248,19.395205,-99.155049,1314.687764,23:51:40,00:00:41
2,M,38,7511322,034,2024-12-31,064,2025-01-01,2024-12-31 23:48:36,2025-01-01 00:00:59,12.383333,Wednesday,0,19.424728,-99.163348,19.412967,-99.166925,1360.437222,23:48:36,00:00:59
3,M,41,3804572,258,2024-12-31,023,2025-01-01,2024-12-31 23:54:11,2025-01-01 00:01:08,6.950000,Wednesday,0,19.416530,-99.179044,19.425280,-99.171099,1280.930290,23:54:11,00:01:08

In [15]:
with duckdb.connect("C:/Users/gerym/Documents/mcp/mcp_ecobici/bike_sharing1.db") as con:
    bike_stations = con.execute("SELECT * EXCLUDE(index), ciclo_estacionarribo as ciclo_estacion_retiro FROM bike_stations").df()

bike_stations.dtypes

ciclo_estacionarribo     object
alcaldia                 object
colonia                  object
zip_code                  int64
ciclo_estacion_retiro    object
dtype: object